@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #0d0d0d;
  color: #33ff33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
  text-align: center;
  border: 2px solid #33ff33;
}

h1 {
  margin-bottom: 20px;
  color: #33ff33;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput, #dateInput {
  width: 40%;
  padding: 10px;
  border: 1px solid #33ff33;
  border-radius: 5px;
  background-color: #262626;
  color: #33ff33;
  transition: background-color 0.3s;
}

#taskInput:focus, #dateInput:focus {
  background-color: #333;
}

#taskInput::placeholder, #dateInput::placeholder {
  color: #33ff33;
}

#addTaskButton {
  padding: 10px;
  border: 1px solid #33ff33;
  background-color: #262626;
  color: #33ff33;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  transition: background-color 0.3s, transform 0.3s;
}

#addTaskButton:hover {
  background-color: #33ff33;
  color: #0d0d0d;
  transform: scale(1.1);
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#taskList li {
  background-color: #262626;
  padding: 10px;
  border: 1px solid #33ff33;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #33ff33;
  transition: background-color 0.3s;
}

#taskList li.completed span {
  text-decoration: line-through;
  color: #ff3333;
}

button {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #33ff33;
  border-radius: 5px;
  background-color: #262626;
  color: #33ff33;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #33ff33;
  color: #0d0d0d;
  transform: scale(1.1);
}

button:nth-child(2) {
  background-color: #1a1a1a;
}

button:nth-child(3) {
  background-color: #1a1a1a;
}

button:nth-child(4) {
  background-color: #1a1a1a;
}
